.topbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 24px;
  justify-content: space-between;
}

.iconBack {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  /* 视觉上偏右，需要往左位移 */
  margin-left: -5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #ccc;
  object-fit: cover;
}

.userName {
  font-size: 36px;
  margin: 10px 24px 0;
  font-weight: bold;
  color: #333;
}

.userGreet {
  font-size: 14px;
  margin: 0 24px;
  color: #999;
}

.listContainer {
  margin: 40px 24px;
}

.listContainerTitle {
  margin: 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listContainerSpandIcon {
  font-size: 12px;
  margin-top: 8px;
  transition: .2s;
  /* 扩展点击热区, margin 避免右侧太多空白 */
  padding: 15px;
  margin-right: -15px;
}

.listContainerSpandIconActive {
  transform: rotate3d(0, 0, 1, 180deg);
}

.listContainerName {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.listItem {
  margin: 20px 0 10px;
}

.listItemInner {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
}

.listItemCover {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #eee;
  object-fit: cover;
}

.listItemMain {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listItemTime {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  font-weight: bold;
}

.listItemTitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.listItemSummay {
  color: #999;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.listItemPlaceholder {
  flex: 1;
}

.listTipsEmpty {
  text-align: center;
  font-size: 12px;
  color: #bbb;
}

.newBtn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 64px;
  background-color: #546E7A;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.newBtnIcon {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

